* {
  font-family: 'Montserrat', sans-serif;
}
body {
  background: #999 url("images/calgary.jpg") no-repeat fixed center center;
  background-size: cover;
}
header {
  display: flex;
  font-size: 1em;
  position: fixed;
  color: white;
  background-color: black;
  width: 100%;
  height: 60px;
  top: 0px;
  left: 0px;
  padding-left: 30px;
  z-index: 2;
}
header h1 {
  margin: 10px;
}
header ul {
  margin: auto;
  margin-right: 50px;
}
header li {
  display: inline;
  list-style-type: none;
}
header a:hover {
  background-color: #222;
}
header a {
  padding: 10px;
  color: inherit;
  font-size: 1.2em;
}

h3 {
  display: block;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.3em;
  border-bottom: 2px solid black;
}
.content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 60px;
  z-index: 1;
}
.introduction {
  font-size: 1.5em;
  text-align: center;
  line-height: 1.4;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 30px;
  padding: 0.3em;
  width: 100%;
}
/* UP to here good for all devices */

.boxes {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 30px;
  padding: 0.5em;
  font-size: 1.5em;
  width: 100%;
  min-width: 500px;
}
.courses {
  padding: 10px;
  margin: 0px 5px;
}
.nanodegree {
  width: 100%;
  max-width: 800px;
  min-width: 460px;
  margin: 5px auto;
  position: relative;
  height: 500px;
}

/* FLIP animation */
.card-like {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.3s linear;
}
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  padding: 5px 20px;
  position: absolute;
  width: 95%;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotateY( 180deg );
  backface-visibility: hidden;
}
.card-like:hover {
  transform: rotateY(180deg);
}

.nanodegree img {
  display: block;
  margin: 10px auto;
  width: 80%;
  min-width: 430px;
  border-radius: 5px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.certificate {
  position: relative;
  width: 100%;
  min-width: 450px;
  max-width: 600px;
  margin: 5px auto;
  height: 400px;
}
.certificate img {
  display: block;
  margin: 10px auto;
  width: 90%;
  min-width: 440px;
  border-radius: 5px;
}


.project {
  position: relative;
  width: 100%;
  min-width: 450px;
  max-width: 550px;
  margin: 5px auto;
  height: 400px;
}
.project img {
  display: block;
  margin: 10px auto;
  width: 80%;
  min-width: 440px;
  border-radius: 5px;
}
footer {
  display: flex;
  font-style: italic;
  padding: 5px;
  text-align: center;
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
  top: 60px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
#other {
  width: 10%;
}
#mail {
  margin: auto;
}
#links {
  margin: 25px 25px;
  width: 10%
  float: right;
}

a {
  text-decoration: none;
}

.tech-used {
  text-align: center;
}
span {
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
}
.play {
  float: right;
  background-color: #00ccff;
}
@media screen and (min-width:1700px) {
  .cert {
    width: 60%;
  }
  .proj {
    width: 29%

  }
}
@media screen and (min-width:1900px) {
    .proj {
      margin-right: 30px;
      margin-left: auto;
    }
  }
