html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    transform: rotateY(180deg);
    height: 125px;
    width: 125px;
    color: #ffffff;
    background: #2e3d49;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0deg);
    transition: all 0.2s ease;
    transform-style: preserve-3d;
    background: #02b3e4;
    cursor: default;
}

.deck .card i {
  font-size: 0;
}

.deck .card.show i{
    font-size: 33px;
}

.deck .card.match {
    transform: rotate(0deg);
    transition: all 0.1s linear,;
    cursor: default;
    background: #02ccba;
    font-size: 50px;
    z-index: 1;
    animation-name: correct;
    animation-duration: 0.5s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.restart {
  cursor: pointer;
}

.timer {
  display: inline;
  padding-left: 20px;
}

.moves {
  padding-left: 20px;
}

/* ENDING SCREEN styling */
.game_over {
  width: 100%;
  height: 110%;
  background: #fff url('../img/geometry2.png');
  padding: 50px 20px;
  border-radius: 10px;
  position: absolute;
  top: 0px;;
  text-align: center;
  font-size: 70px;
  z-index: 2;
  animation-name: endscreen;
  animation-duration: 0.8s;
}

.game_over h2{
  font-size: 75px;
}

.game_over p{
  font-size: 24px;
}

.game_over .win i{
  font-size: 60px;
}

.hidden {
  display: none;
}

.try_again {
  font-size: 18px;
  font-weight:bold;
  color: white;
  background: #daa520;
  font-family: 'Coda', cursive;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
}

.try_again:hover {
  background: #ffd700;
}

/* ANIMATIONS using keyframes */

@keyframes correct {
  0%   {transform: scale(1.0);}
  25%  {transform: scale(1.2);}
  50%  {transform: scale(1.0);}
  75%  {transform: scale(1.1);}
  100% {transform: scale(1.0);}
}

.wrong {
  animation-name: wrong;
  animation-duration: 0.5s;
}

@keyframes wrong {
  0%   {transform: translate(0px, 0px); background-color: #f22;}
  20%  {transform: translate(-5px, 0px); background-color: #f00;}
  40%  {transform: translate(5px, 0px); background-color: #f22;}
  60%  {transform: translate(-5px, 0px); background-color: #f00;}
  80%  {transform: translate(5px, 0px); background-color: #f22;}
  100% {transform: translate(0px, 0px); background-color: #f00;}
}

@keyframes endscreen {
  0%   {transform: scale(0.0); opacity: 0%;}
  100%  {transform: scale(1.0); opacity: 100%;}
}

@keyframes starAnimate {
  0%    {transform: scale(0.0);}
  30%    {transform: scale(0.0);}
  80%   {transform: scale(1.3);}
  100%  {transform: scale(1.0);}
}

.win {
  color: #daa520;
}

.win i:nth-child(even) {
  animation-name: starAnimate;
  animation-duration: 2s;
  animation-delay: 0.2s;
}

.win i:nth-child(odd) {
  animation-name: starAnimate;
  animation-duration: 2s;
}
